@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  display: flex;
}

.desktop-header {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  position: absolute;
  width: 100%;
  background: #f7f7f9;
  height: 4631px;
  margin: auto;
}

section {
  margin: auto;
  padding: 0 24px;
  width: 100%;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 58px 24px 14px;
  background: white;
  position: sticky;
  height: 92px;
  top: 0;
  z-index: 1;
}

.navigation .nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.navigation img {
  width: 16px;
  background: blue;
  padding: 2px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin-right: 20px;
}

.headline {
  background-color: white;
  background-image: url("./image/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position: 100%;
  border-bottom-left-radius: 50px;
  width: 100%;
}

.headline .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
}

.container h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-right: 10px;
}

.container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.container > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.container ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.work {
  padding: 114px 24px;
  align-items: center;
}

.container_work {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  row-gap: 88px;
}

.work_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.work_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.work_description h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #172b4d;
}

.conduct {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.conduct_head {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.conduct_para {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.conduct_year {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.work_paragraph {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work_languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.work_languages li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  border-radius: 8px;
  background: #ebebff;
}

.btn {
  font-weight: 500px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.about {
  background: #fff;
  padding: 144px 24px;
}

.about_head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.about_head h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  max-width: 50%;
}

.about_head p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.about_head a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.about_head ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.about_language {
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
}

.item {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 12px;
  min-width: 300px;
  padding: 0;
  justify-content: space-between;
  padding-bottom: 12px;
}

.item > img {
  width: 10px;
}

.about_lang {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  text-align: center;
  justify-content: baseline;
}

.about_lang > li {
  gap: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  padding: 6px;
  align-items: center;
}

hr {
  opacity: 0.5px;
  margin: 12px 0;
}

.mobile-img {
  position: absolute;
  width: 100%;
  height: 709.17px;
  left: 110px;
  top: 35px;
}

.contact {
  position: absolute;
  width: 100%;
  height: 779px;
  left: 0;
  top: 4479px;
  background: #6070ff;
  border-radius: 75px 0 0 1px;
}

.contact_footer p {
  position: absolute;
  width: 100%;
  height: 102px;
  left: 16px;
  top: 200px;
  font-family: poppins, "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contact_footer h1 {
  position: absolute;
  width: 100%;
  height: 56px;
  left: 70px;
  top: 120px;
  font-family: 'poppins', "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact_footer .form-start .name {
  position: absolute;
  bottom: 6.86%;
  width: 327px;
  height: 48px;
  top: 375px;
  left: 24px;
  border-radius: 5px;
  border-width: 0;
  padding-left: 16px;
  justify-content: center;
}

.contact_footer .form-start .email {
  position: absolute;
  bottom: 6.86%;
  width: 327px;
  height: 48px;
  top: 443px;
  left: 24px;
  border-radius: 5px;
  border-width: 0;
  padding-left: 16px;
}

.contact_footer .form-start .message {
  position: absolute;
  bottom: 6.86%;
  width: 327px;
  height: 137px;
  top: 510px;
  left: 24px;
  border-radius: 5px;
  border-width: 0;
  padding-top: 5px;
  padding-left: 16px;
}

.contact_footer .form-start .start {
  position: absolute;
  width: 140px;
  height: 48px;
  left: 24px;
  top: 670px;
  background: #fff;
  border-radius: 8px;
  border-width: 0;
  color: #6070ff;
}

@media screen and (min-width: 768px) {
  .mobile-img {
    display: none;
  }

  .body {
    height: 100vh;
  }

  .desktop-header {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 32px;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
  }

  .navigation .nav {
    display: none;
  }

  .headline {
    height: 721.46px;
    padding-top: 200px;
    background-image: url("./image/Header\ bg@2x.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position: 100%;
    background-position: 100% 100%;
  }

  .container h1 {
    margin-top: -69px;
    width: 920px;
    height: 122px;
    font-family: 'Poppins' "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .work_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .work_content img {
    float: left;
    width: 48%;
  }

  #pic2,
  #pic4 {
    flex-direction: row-reverse;
  }

  .work_description {
    float: left;
    width: 48%;
  }

  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about_head {
    width: 48%;
  }

  .about_language {
    width: 48%;
  }

  .about_lang {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    gap: 10px;
    text-align: center;
  }

  .about_lang > li {
    gap: 12px;
    background: #f7f7f9;
    border-radius: 8px;
    display: block;
    margin-top: 12px;
    align-items: center;
    width: 20%;
    margin-bottom: 50px;
  }

  .item {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 12px;
    min-width: 510px;
    margin-left: 1px;
    justify-content: space-between;
    padding-bottom: 12px;
  }

  .contact_footer h1 {
    margin-left: 420px;
  }

  .contact {
    display: flex;
    align-items: center;
    width: 100%;
    top: 3800px;
    position: absolute;
    margin: 0 auto;
    background-image: url("./image/contact\ form\ background\ shapes@2x.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    position: absolute;
  }

  .contact_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 801px;
    height: 577px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .contact_footer p {
    width: 569px;
    height: 102px;
    margin-left: 333px;
  }

  .contact_footer .form-start .name {
    top: 375px;
    left: 450px;
  }

  .contact_footer .form-start .email {
    top: 443px;
    left: 450px;
  }

  .contact_footer .form-start .message {
    top: 510px;
    left: 450px;
  }

  .contact_footer .form-start .start {
    left: 550px;
    top: 670px;
  }
}
