@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  display: flex;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
  margin: auto;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 58px 24px 14px;
  background: white;
  height: 92px;
  top: 0;
  z-index: 1;
}

.navigation .nav {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.navigation img {
  width: 16px;
  background: rgb(5, 5, 250);
  padding: 1.5px;
  
}

.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.headline {
  background-color: white;
  background-image: url("./image/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position: 100%;
  border-bottom-left-radius: 50px;
}

.headline .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
}

.container h1 {
  font-weight: 750;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-right: 10px;
  font-family: 'Poppins';
  font-style: normal;
}

.container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.container > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.container ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
